canvas {
  position: fixed;
  overflow: hidden;
}

.index {
  z-index: 10;
}

section {
  display: block;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.works {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  overflow: hidden;
}

.section4 {
  border: '3px solid #000';

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275%;
    height: 100%;
    flex-wrap: nowrap;
  }

  &__item {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;

    &__wrapper {
      padding: 5rem;
      position: absolute;
      background-color: #ff0000;
    }
  }
}
